.body {
    font-family: 'Manrope', sans-serif;
    color: #EBEBEB;
    background-color: #0B0F17;
}

.main-wrapper {
    width: 1400px;
    height: 1123px;
    margin: 0 auto;
    padding: 0 115px;
    box-sizing: border-box;
    overflow: hidden;
}

.main-wrapper--play {
    height: 939px;
}

.main {
    position: relative;
    padding-top: 65px;
    padding-bottom: 68px;
}

.header {
    height: 105px;
    padding: 0;
    /*border-bottom: rgba(235, 235, 235, 0.1) 1px solid;*/
}

.header__nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0 0 0 75px;
    padding: 0;
}

.header__nav-item {
    margin-left: 40px;
}

.header__nav-link {
    font-size: 16px;
    color: #EBEBEB;
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav-link:hover {
    color: rgba(235, 235, 235, 0.6);
    transition: .1s linear;
}

.header__nav-link:active {
    color: #2364E2;
}

.header__nav-link--active {
    color: #2364E2;
    pointer-events: none;
}

.logo__img {
    padding-right: 14px;
    object-fit: contain;
    object-position: left;
}
.line {
    width: 1400px;
    height: 1px;
    background-color: rgba(235, 235, 235, 0.1);
    margin: 0 0 0 -115px;
}
.first-header {
    color: #EBEBEB;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
}

.subscription {
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 55px 0;
}

.second-header {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 20px 0;
}

.second-header--black {
    padding-left: 50px;
}

/*.column-wrapper {*/
/*    display: flex;*/
/*    margin-top: 30px;*/
/*}*/

.form {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

.form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.form__fieldset--time {
    margin-bottom: 30px;
}

.form__list {
    display: flex;
    width: 270px;
    padding: 0;
    margin: 0 0 12px 0;
    flex-direction: column;
    list-style: none;
}

.form__list--first {
    border-right: rgba(235, 235, 235, 0.2) 1px solid;
    padding-right: 50px;
}

.form__list--second {
    padding-left: 50px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
}

.form__input {
    width: 100%;
    height: 48px;
    padding: 5px 10px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #D8D8D8;
    background-color: #0B0F17;
    border: rgba(235, 235, 235, 0.2) 1px solid;
    outline: none;
}

.form__input:hover,
.form__input:active {
    border: rgba(235, 235, 235, 0.6) 1px solid;
    transition: .1s linear;
}

.form__label {
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
}

.button {
    width: 370px;
    height: 58px;
    /*margin-top: 25px;*/
    padding: 21px;
    font-size: 16px;
    font-weight: 500;
    color: #EBEBEB;
    background-color: #2364E2;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(35, 100, 226, 0.6);
    transition: .1s linear;
}

.main-img {
    position: absolute;
    left: 770px;
    top: 175px;
    width: 400px;
    height: 386px;
    z-index: 100;
    object-fit: contain;
}

.background-wrapper {
    pointer-events: none;
}

.shadow {
    position: absolute;
    top: 575px;
    left: 715px;
    width: 470px;
    height: 54px;
    border-radius: 50%;
    opacity: 50%;
    background: radial-gradient(50.79% 48.93% at 49.27% 50.74%, rgba(1, 1, 2, 0.53) 0%, rgba(0, 0, 0, 0) 100%);
}

.background-ellipse-1 {
    position: absolute;
    top: 242px;
    left: 692px;
    width: 396px;
    height: 235px;
    background-color: #61ECFF;;
    filter: blur(180px);
    opacity: 50%;
    border-radius: 50%;
}

.background-ellipse-1--play-right {
    top: 228px;
    left: 935px;
    opacity: 40%;
}

.background-ellipse-1--play-left {
    top: 308px;
    left: 135px;
    opacity: 40%;
}

.background-ellipse-2 {
    position: absolute;
    top: 457px;
    left: 871px;
    height: 390px;
    width: 493px;
    border-radius: 50%;
    opacity: 30%;
    background-color: #6461FF;
    filter: blur(180px);
}

.background-ellipse-2--play-left {
    opacity: 20%;
    top: 527px;
    left: -145px;
}

.background-ellipse-2--play-right {
    top: 447px;
    left: 663px;
}

.background-ellipse-3 {
    position: absolute;
    top: -34px;
    left: 929px;
    height: 429px;
    width: 429px;
    border-radius: 50%;
    opacity: 30%;
    background-color: #103AAB;
    filter: blur(180px);
}

.background-ellipse-3--play-left {
    top: 36px;
    left: -135px;
}

.background-ellipse-3--play-right {
    top: -44px;
    left: 635px;
}

.footer {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    color: #D8D8D8;
    opacity: 80%;
}

.footer__link {
    color: #D8D8D8;
}

.footer__link:hover {
    color: rgba(235, 235, 235, 0.6);
    transition: .1s linear;
}

.footer__link:active {
    color: #2364E2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-play {
    display: flex;
}

.chess-board-wrapper {
    margin: 0 15px;
}

.chess-board {
    height: 600px;
    width: 600px;
    background-color: #EBEBEB;
    position: relative;
    border-collapse: collapse;
    box-sizing: border-box;
}

.chess-board__td {
    height: 75px;
    width: 75px;
    background-color: #A5ABB8;
    box-sizing: border-box;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.chess-board__td:focus {
    border: 1px solid #2364E2;
}

.chess-board__td--black-pawn {
    background-image: url("img/piece-pawn-black.svg");
    background-size: 37px 53px;
}

.chess-board__td--black-rook {
    background-image: url("img/piece-rook-black.svg");
    background-size: 35px 53px;
}

.chess-board__td--black-bishop {
    background-image: url("img/piece-bishop-black.svg");
    background-size: 33px 53px;
}

.chess-board__td--black-knight {
    background-image: url("img/piece-knight-black.svg");
    background-size: 41px 57px;
}

.chess-board__td--black-queen {
    background-image: url("img/piece-queen-black.svg");
    background-size: 53px 53px;
}

.chess-board__td--black-king {
    background-image: url("img/piece-king-black.svg");
    background-size: 53px 52px;
}

.chess-board__td--white-pawn {
    background-image: url("img/piece-pawn-white.svg");
    background-size: 37px 53px;
}

.chess-board__td--white-rook {
    background-image: url("img/piece-rook-white.svg");
    background-size: 35px 53px;
}

.chess-board__td--white-bishop {
    background-image: url("img/piece-bishop-white.svg");
    background-size: 33px 53px;
}

.chess-board__td--white-knight {
    background-image: url("img/piece-knight-white.svg");
    background-size: 41px 57px;
}

.chess-board__td--white-queen {
    background-image: url("img/piece-queen-white.svg");
    background-size: 53px 53px;
}

.chess-board__td--white-king {
    background-image: url("img/piece-king-white.svg");
    background-size: 53px 52px;
}

.chess-board__td-number {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #0E121C;
}

.chess-board__td-letter {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #0E121C;
}

.chess-board__row:nth-child(1) .chess-board__td:nth-child(even),
.chess-board__row:nth-child(2) .chess-board__td:nth-child(odd),
.chess-board__row:nth-child(3) .chess-board__td:nth-child(even),
.chess-board__row:nth-child(4) .chess-board__td:nth-child(odd),
.chess-board__row:nth-child(5) .chess-board__td:nth-child(even),
.chess-board__row:nth-child(6) .chess-board__td:nth-child(odd),
.chess-board__row:nth-child(7) .chess-board__td:nth-child(even),
.chess-board__row:nth-child(8) .chess-board__td:nth-child(odd) {
    background-color: #737780;
}

.players__player {
    width: 270px;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-bottom: 10px;
    background-color: rgba(11, 15, 23, 0.5);
    position: relative;
    text-align: center;
}

.players__player--white {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-bottom: 0;
}

.players__player--white .players__time {
    margin-bottom: 40px;
}

.players__player--black .players__time {
    margin-top: 28px;
}

.players__name {
    font-size: 18px;
    margin: 0;
}

.players__rating {
    font-size: 16px;
    margin: 5px 0 16px 0;
}

.players__time {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.players__color-icon {
    min-height: 70px;
    width: 70px;
    border-radius: 50%;
    border: #EBEBEB 1px solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 40px;
}

.players__color-icon--white {
    background-image: url("img/white.svg");
}

.players__color-icon--black {
    background-image: url("img/black.svg");
    margin: 10px 0;
}

.game-history-wrapper {
    position: relative;
    max-width: 270px;
}

.chess-moves-wrapper {
    /*max-width: 270px;*/
    max-height: 392px;
    margin-bottom: 10px;
    overflow: scroll;
}

.chess-moves {
    /*width: 270px;*/
    height: 392px;
    border-collapse: collapse;
    background-color: rgba(11, 15, 23, 0.5);
}

.chess-moves__td {
    border-left: 1px solid rgba(235, 235, 235, 0.10);
    height: 20px;
    width: 118px;
    padding: 2px 4px 2px 12px;
    box-sizing: border-box;
    margin: 2px 0;
}

.chess-moves__td--number {
    width: 34px;
}

.chess-moves__td:nth-child(1) {
    border-left: none;
    padding-left: 8px;
}

.chess-shape-icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.chess-shape-icon--queen {
    width: 13px;
    height: 13px;
    background-image: url("img/piece-queen-white.svg");
    background-size: 13px 13px;
    margin-right: 4px;
}

.chess-shape-icon--king {
    width: 13px;
    height: 13px;
    margin-right: 4px;
    background-image: url("img/piece-king-white.svg");
    background-size: 13px 13px;
}


.chess-shape-icon--knight {
    width: 9px;
    height: 13px;
    margin-right: 4px;
    background-image: url("img/piece-knight-white.svg");
    background-size: 9px 13px;
}

.chess-shape-icon--bishop {
    width: 8px;
    height: 13px;
    background-image: url("img/piece-bishop-white.svg");
    margin-right: 4px;
    background-size: 8px 13px;
}

.chess-shape-icon--rook {
    width: 8px;
    height: 13px;
    margin-right: 4px;
    background-image: url("img/piece-rook-white.svg");
    background-size: 9px 13px;
}

.chess-shape-icon--pawn {
    width: 8px;
    height: 13px;
    margin-right: 4px;
    background-image: url("img/piece-pawn-white.svg");
    background-size: 8px 13px;
}

.message-block {
    height: 98px;
    list-style: none;
    border: rgba(235, 235, 235, 0.2) 1px solid;
    background-color: rgba(11, 15, 23, 0.5);
    box-sizing: border-box;
    padding: 15px 15px;
    margin-bottom: 30px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.message-block__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.game-history {
    display: flex;
}

.game-history__button {
    width: 70px;
    height: 70px;
    border: 1px solid #2364E2;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 15px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.game-history__button:hover {
    border: 1px solid rgba(35, 100, 226, 0.6);
    transition: .1s linear;
}
.game-history__button:active {
    border: 1px solid #0b64e2;
}

.game-history__button:first-child {
    margin-left: 0;
}

.game-history__button:last-child  {
    margin-right: 0;
}

.game-history__button--flag {
    background-image: url("img/flag.svg");
    background-size: 22px 24px;
}

.game-history__button--score {
    background-image: url("img/score.svg");
    background-size: 24px 18px;
}

.game-history__button--back {
    background-image: url("img/moveback.svg");
    background-size: 27px 24px;
}